@page "/CodeLab/WeatherApp"
@using PrestonViadoBlazorApp.Models
@inject IHttpClientFactory _clientFactory

<PageTitle>Weather App</PageTitle>

<h1>Weather App</h1>

<h5>
    Step 1: Visit
    <a href="https://www.latlong.net/" target="_blank">www.latlong.net</a>
</h5>
<h5>Step 2: Enter location for latitude and longitude</h5>
<h5>Step 3: Copy and paste as <u>latitude,longitude</u>. <b>No space in-between</b></h5>
<p font="20">Example: <i>53.757729,-2.703440</i></p>


<EditForm Model="inputData" OnValidSubmit="OnInitializedAsync">
    <InputText @bind-Value="inputData.LatLong" />
    <button class="btn btn-primary" type="submit">Get Weather</button>
</EditForm>

<p></p>
<p></p>

@if (weather == null && inputData.LatLong != null)
{
    <h2>Loading...</h2>
}
else if (weather is not null)
{
    <h2>
        <b>@weather.currently.temperature&degF</b>
    </h2>
    <h3>@weather.currently.summary</h3>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Weather State</th>
                <th>Low</th>
                <th>High</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var day in weather.daily.data)
            {
                <tr>
                    <td>
                        @DateTimeOffset.FromUnixTimeSeconds(day.time).DayOfWeek
                        @DateTimeOffset.FromUnixTimeSeconds(day.time).Month/@DateTimeOffset.FromUnixTimeSeconds(day.time).Day/@DateTimeOffset.FromUnixTimeSeconds(day.time).Year
                    </td>
                    <td>@day.summary</td>
                    <td>@day.apparentTemperatureMin&degF</td>
                    <td>@day.apparentTemperatureMax&degF</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    WeatherModel weather = null;
    string errorString = "";
    private WeatherInputModel inputData = new();
    protected override async Task OnInitializedAsync()
    {
        var apiRequest = new HttpRequestMessage(HttpMethod.Get,
        $"https://api.pirateweather.net/forecast/umdnQ8KpxzXNbiDapaQjVouwxA5PGRAW/{inputData.LatLong}");

        var client = _clientFactory.CreateClient();

        HttpResponseMessage response = await client.SendAsync(apiRequest);

        if (response.IsSuccessStatusCode)
        {
            weather = await response.Content.ReadFromJsonAsync<WeatherModel>();
            errorString = null;
        }
        else
        {
            errorString = $"There was an error getting weather data: {response.ReasonPhrase}";
        }
    }
}